<nav>
      <ul id="top-menu">
            <li><a href="/">NBoard</a></li>
            <li><a href="/" onclick="changeLanguage('en')" data-i18n="lang_en"></a></li>
            <li><a href="/" onclick="changeLanguage('hu')" data-i18n="lang_hu"></a></li>
      </ul>
      <ul id="down-menu">
            <li><a href="/" data-i18n="menu_home"></a></li>
            <li><a href="/my-data.html" data-i18n="menu_my-data"></a></li>
            <li><a href="/studies.html" data-i18n="menu_studies"></a></li>
      </ul>
</nav>