<nav>
      <ul id="top-menu">
            <li><a href="/">NBoard</a></li>
      </ul>
      <div id="down-menu">
            <a href="/" data-i18n="menu_home">Kezdőlap</a>
            <button id="my-data">Saját adatok</button>
                  <div class="my-data-content">
                        <a href="/perosnal-information.html">Személyes adatok</a>
                        <a href="/qualifications.html">Képzettségek</a>
                        <a href="contact-information.html">Elérhetőségek</a>
                  </div>
            <button id="studies">Tanulmányaim</button>
                  <div class="studies-content">
                        <a href="/training.html">Képzés adatok</a>
                        <a href="/term.html">Féléves adatok</a>
                  </div>
            <button id="subjects">Tárgyak</button>
                  <div class="subjects-content">
                        <a href="/registered-subjects.html">Felvett tárgyak</a>
                        <a href="/taken-courses.html">Felvett kurzusok</a>
                        <a href="/register-for-subject.html">Tárgyfelvétel</a>
                  </div>
      </div>
</nav>