.active {
      color: blue;
      font-weight: bold;
}
nav {
      background-color: #1a1a1a;
      width: 15%;
      height: 100%;
      position: fixed;
}
nav a {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: beige;
      display: block;
      padding: 10px 25px;

}
nav a:hover {
      background-color: #2e2e2e;
}
#top-menu {
      padding-top: 50px;
      padding-bottom: 25px;
}
#studies, #subjects {
      border: none;
      outline: none;
      background-color: inherit;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      display: inline-block;
      color: beige;
      text-align: left;
      width: 100%;
      padding: 10px 25px;
      position: relative;
}
.studies-content, .subjects-content {
      display: none;
}
#studies:hover, #subjects:hover {
      background-color: #2e2e2e;
}
#studies:hover .studies-content, #subjects:hover .subjects-content {
      display: block;
}