#menu {
      background-color: #1a1a1a;
      width: 10%;
      height: 100%;
      position: fixed;
}
#menu a, #my-data, #studies, #subjects {
      font-size: 2.5ch;
      font-family: Arial, Helvetica, sans-serif;
      color: beige;
      display: block;
      padding: 10px 25px;

}
#menu a:hover, #my-data:hover, #studies:hover, #subjects:hover {
      background-color: #2e2e2e;
}
#top-menu {
      padding-top: 50px;
      padding-bottom: 25px;
}
#my-data, #studies, #subjects {
      border: none;
      outline: none;
      background-color: inherit;
}